{% zone "Header" %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
 <header class="masthead blogpost" style="background-image: url('{{ Model.ContentItem.Content.BlogPost.BackgroundImage.Paths[0]  | asset_url | href }}')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ Model.ContentItem.DisplayText }}</h1>
                        <h2 class="subheading">{{ Model.ContentItem.Content.BlogPost.Subtitle.Text }}</h2>
                        <span class="meta">
                            {% assign format = "MMMM dd, yyyy" | t %}
                            {% assign dateTime = "DateTime" | shape_new: utc: Model.ContentItem.CreatedUtc, format: format | shape_stringify %}
                            {{ "Posted by" | t }} <a href="#">{{ Model.ContentItem.Owner }}</a> {{ "on {0}" | t: dateTime | raw }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endzone %}

{{ Model.Content.ContentsMetadata | shape_render }}
{{ Model.Content.MarkdownBodyPart | shape_render }}


<div class="container page-top">
    <div class="row">
    {% for p in Model.ContentItem.Content.BlogPost.BlogImages.Paths %}   
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="{{ p | asset_url | href }}" class="fancybox" data-fancybox="gallery"  >
                <img  src="{{ p | resize_url: width:160 | asset_url | href }}" class="zoom img-fluid "  alt="Collector Of Jack Blog Post Photo">
                   
            </a>
        </div>
    {% endfor %}
        
    </div>
</div>
